* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
  background: linear-gradient(
    150deg,
    #030e12 30%,
    #05181f 60%,
    #0e393d 90%,
    #135055
  );
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
